github "aws/aws-sdk-ios"
github "xmartlabs/Eureka"
github "EurekaCommunity/ImageRow"
github "hyperoslo/Whisper"
github "mxcl/PromiseKit"
github "TimOliver/TOCropViewController"
github "Instagram/IGListKit"
github "Yalantis/Koloda"
github "facebook/pop"
github "WenchaoD/FSPagerView"
github "hackiftekhar/IQKeyboardManager"
